In [22]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [23]:
shoes_one = "Resources/shoe_data_1.csv"
shoes_one_df = pd.read_csv(shoes_one)

shoes_one_df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [33]:
#shoes_one_df.brand.unique()

In [34]:
#df_adidas = shoes_one_df.loc[shoes_one_df.brand=='adidas',:]
#df_adidas.head()

In [30]:
#df_adidas.columns

Index(['id', 'dateAdded', 'dateUpdated', 'asins', 'brand', 'categories',
       'primaryCategories', 'colors', 'dimension', 'ean', 'imageURLs', 'keys',
       'manufacturer', 'manufacturerNumber', 'name', 'prices.amountMax',
       'prices.amountMin', 'prices.availability', 'prices.color',
       'prices.condition', 'prices.currency', 'prices.dateAdded',
       'prices.dateSeen', 'prices.isSale', 'prices.merchant', 'prices.offer',
       'prices.returnPolicy', 'prices.shipping', 'prices.size',
       'prices.sourceURLs', 'sizes', 'sourceURLs', 'upc', 'weight'],
      dtype='object')

In [31]:
#df_adidas['prices.amountMax'].mean()

65.46297297297286

In [14]:
# remove duplicates and columns with null values - dataframe 1
shoes_one_df.drop_duplicates()
shoes_one_df.dropna(axis= 1, how = "any", inplace = True)
#shoes_one_df.isnull().sum()

shoes_one_df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'brand', 'categories',
       'primaryCategories', 'imageURLs', 'keys', 'name', 'prices.amountMax',
       'prices.amountMin', 'prices.color', 'prices.currency',
       'prices.dateSeen', 'prices.isSale', 'prices.size', 'prices.sourceURLs',
       'sizes', 'sourceURLs'],
      dtype='object')

In [18]:
shoes_one_transformed = shoes_one_df[["brand", "categories", "prices.color", "prices.amountMax", "prices.amountMin", "prices.sourceURLs"]]

shoes_one_renamed = shoes_one_transformed.rename(columns = {"brand":"Brand","categories":"Categories", "prices.color":"Color", 
                                                                "prices.amountMax":"Max Price", "prices.amountMin":"Min Price",
                                                                "prices.sourceURLs":"Website"})

shoes_one_renamed.head()

,Brand,Categories,Color,Max Price,Min Price,Website
0,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",UWomens M Regular,55.99,55.99,https://www.overstock.com/Clothing-Shoes/Women...
1,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Grey,47.00,35.25,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...
2,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Grey,35.25,35.25,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...
3,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Black,24.75,24.75,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...
4,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Grey,33.00,30.39,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...

In [36]:
shoes_one_renamed["Brand"] = shoes_one_renamed["Brand"].str.lower()

In [38]:
shoes_one_renamed.groupby("Brand").mean()

                                 Max Price   Min Price
Brand
2 lips too                       67.320526   53.400526
a2 by aerosoles                  74.348209   50.225522
adidas                           80.981158   66.320737
adidas outdoor                  107.950000  107.950000
altra                           129.950000  111.669048
andrew geller                    60.000000   60.000000
apt. 9                           52.694918   27.846557
arc'teryx                       170.000000  130.333333
asics                            83.907231   79.322846
astral                           89.925000   89.925000
betula by birkenstock            69.950000   69.950000
birkenstock                     133.333333  133.333333
bogs                             64.990000   64.990000
brinley co.                      35.818108   31.317838
brinley co. collection           69.990000   56.579744
brooks                          125.213158  119.951579
candies                          57.351111   32.019514
carrini                          34.950000   20.450000
chaco                           119.950000  119.950000
clarks                           85.000000   77.428974
corkys                           69.990000   69.990000
croft barrow                     67.323333   33.021714
daniel green                     35.000000   35.000000
danskin now                      19.740000   19.740000
dansko                          130.000000  130.000000
dolce by mojo moxy               59.990000   44.356379
dr. scholl's                     32.980000   32.980000
dr. scholls                      77.091988   55.503620
earth spirit                     19.820000   16.380000
eastland                         96.071429   76.166607
...                                    ...         ...
scarpa                          169.700000  120.975000
seavees                          86.796154   84.724231
seven7                           39.636429   39.636429
seychelles footwear              89.950000   58.965000
silver lilly                     39.990000   16.990000
simply vera vera wang            68.648537   41.836951
skechers                         65.376994   57.004226
sloggers                         32.440000   32.440000
so                               56.265047   29.663981
soft ones                        14.000000    7.900000
soft style by hush puppies       51.640000   51.640000
softwalk                        145.950000  145.950000
soludos                          87.394444   78.550000
sonoma goods for life            69.815328   31.463799
sperry top-sider                 68.950000   68.950000
splendid                        150.807143   65.962857
spring step                      62.774810   62.774810
style charles by charles david   88.853556   60.382552
sugar                            49.990000   34.458750
the north face                  129.950000   71.470000
timberland                      109.950000  109.950000
toms                             57.550000   57.550000
topo athletic                   123.950000  116.453000
ugg                             113.283333  113.283333
unbranded                         7.120000    6.486667
under armour                     93.561429   70.811429
unionbay                         47.990000   33.799091
unique bargains                  29.750000   29.750000
vans                             60.782000   55.375000
victoria k.                      15.880000   15.880000

[116 rows x 2 columns]

In [5]:
shoes_two = "Resources/shoe_data_2.csv"
shoes_two_df = pd.read_csv(shoes_two)
shoes_two_df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean / upc,...,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs
0,AWpyySsJAGTnQPR7wNt4,2019-05-01T09:27:22Z,2019-05-01T09:27:22Z,NaN,City Classified,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,656000000000,...,2019-04-19T07:09:29Z,NaN,NaN,Online only,NaN,NaN,8,https://www.walmart.com/ip/City-Classified-Sty...,8,https://www.walmart.com/ip/City-Classified-Sty...
1,AWpyyyb3AGTnQPR7wN-u,2019-05-01T09:27:19Z,2019-05-01T09:27:19Z,NaN,Skechers,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Taupe,NaN,192000000000,...,2019-04-24T09:14:11Z,NaN,NaN,Online only,NaN,NaN,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...
2,AWpyzlajAGTnQPR7wOX8,2019-05-01T09:26:59Z,2019-05-01T09:26:59Z,NaN,Floral,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,709000000000,...,2019-04-25T12:35:00.000Z,NaN,NaN,Online only,NaN,NaN,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...
3,AWpyxomE0U_gzG0hkA1q,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,NaN,Jambu,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black/Multi,NaN,884000000000,...,2019-04-30T19:49:00.000Z,NaN,NaN,Online only: 20% off,NaN,NaN,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...
4,AWpyxChWJbEilcB6RhWx,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,NaN,Trotters,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,White,NaN,887000000000,...,2019-04-19T07:07:46Z,NaN,NaN,Online only: 50% off,NaN,NaN,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...

In [6]:
# remove duplicates and columns with null values - dataframe 2
shoes_two_df.drop_duplicates()
shoes_two_df.dropna(axis= 1, how = "any", inplace = True)
shoes_two_df.isnull().sum()

shoes_two_df.head()

,id,dateAdded,dateUpdated,brand,categories,primaryCategories,colors,ean / upc,keys,name,...,prices.amountMin,prices.availability,prices.color,prices.currency,prices.dateSeen,prices.offer,prices.size,prices.sourceURLs,sizes,sourceURLs
0,AWpyySsJAGTnQPR7wNt4,2019-05-01T09:27:22Z,2019-05-01T09:27:22Z,City Classified,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,656000000000,"walmart.com-2013PXX8GMN7,656143772191,06561437...",City Classified Stylish-S Women's Zipper Ankle...,...,29.95,True,Black,USD,2019-04-19T07:09:29Z,Online only,8,https://www.walmart.com/ip/City-Classified-Sty...,8,https://www.walmart.com/ip/City-Classified-Sty...
1,AWpyyyb3AGTnQPR7wN-u,2019-05-01T09:27:19Z,2019-05-01T09:27:19Z,Skechers,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Taupe,192000000000,"192283420528,0192283420528,walmart.com-21739WH...","Skechers Women'S You Radiate, Walking",...,84.00,True,Taupe,USD,2019-04-24T09:14:11Z,Online only,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...
2,AWpyzlajAGTnQPR7wOX8,2019-05-01T09:26:59Z,2019-05-01T09:26:59Z,Floral,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,709000000000,"walmart.com-1MXIR45EG0EO,708750137976,07087501...",FLORAL Pearl Women's Wide Width Evening Dress ...,...,49.95,True,Black,USD,2019-04-25T12:35:00.000Z,Online only,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...
3,AWpyxomE0U_gzG0hkA1q,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,Jambu,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black/Multi,884000000000,"883988336206,0883988336206,walmart.com-653BPY2...",Women's Jambu Amal Water Resistant Bootie,...,127.20,False,Black/Multi,USD,2019-04-30T19:49:00.000Z,Online only: 20% off,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...
4,AWpyxChWJbEilcB6RhWx,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,Trotters,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,White,887000000000,"887246520857,0887246520857,walmart.com-3HL720G...","trotters women's blast iii boot,black quill,11...",...,47.66,False,White,USD,2019-04-19T07:07:46Z,Online only: 50% off,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...

### Transform 1st Shoe DataFrame

In [7]:
shoes_one_df.columns
shoes_one_cols = ["brand", "colors", "name", "prices.amountMax", "prices.amountMin" ]
shoes_one_transformed = shoes_one_df[shoes_one_cols].copy()
shoes_one_transformed.set_index('brand', inplace =True)
shoes_one_transformed

,colors,name,prices.amountMax,prices.amountMin
brand,,,,
Naturalizer,"Silver,Cream Watercolor Floral",Naturalizer Danya Women N/S Open Toe Synthetic...,55.99,55.99
MUK LUKS,Grey,MUK LUKS Womens Jane Suede Moccasin,47.00,35.25
MUK LUKS,Grey,MUK LUKS Womens Jane Suede Moccasin,35.25,35.25
MUK LUKS,Black,MUK LUKS Womens Dawn Suede Scuff Slipper,24.75,24.75
MUK LUKS,Grey,MUK LUKS Womens Dawn Suede Scuff Slipper,33.00,30.39
Soft Ones,Brown Tweed,Women's MUK LUKSÂ¬Ã† Soft Ones Sock Money Slippers,14.00,7.90
MUK LUKS,"Light Blue,Brown,Navy,Purple,Burgundy,Black,Na...",Women's MUK LUKSÂ¬Ã† Faux Suede Clogs,24.00,12.79
MUK LUKS,"Light Blue,Brown,Navy,Purple,Burgundy,Black,Na...",Women's MUK LUKSÂ¬Ã† Faux Suede Clogs,24.00,12.79
MUK LUKS,"Navy,Grey",MUK LUKS Women's Malena Boot,59.00,39.88
MUK LUKS,Brown,MUK LUKS Women's Malena Boot,59.00,47.99
MUK LUKS,Brown,MUK LUKS Women's Malena Boot,59.00,36.99
MUK LUKS,"Black,Medium Beige",MUK LUKS Women's Hayden Boot,95.00,62.80
MUK LUKS,"Grey,Dark Brown,Chestnut,Brown",MUK LUKS Women's Demi Boot,68.00,41.27
MUK LUKS,"Grey,Dark Brown,Chestnut,Brown",MUK LUKS Women's Demi Boot,68.00,44.88
MUK LUKS,"Grey,Dark Brown,Taupe",MUK LUKS Women's Nikki Boot,69.00,44.88
MUK LUKS,"Black,Grey,Pewter",MUK LUKS Women's Elle Wedge Sandals,50.00,28.91
MUK LUKS,"Black,Grey,Pewter",MUK LUKS Women's Elle Wedge Sandals,50.00,29.91
MUK LUKS,"Black,Grey,Pewter",MUK LUKS Women's Elle Wedge Sandals,50.00,22.53
MUK LUKS,"Charcoal Gray,Grey,Dark Brown,Moccasin,Light G...",MUK LUKS Women's Patti Boots,57.00,57.00
MUK LUKS,"Charcoal Gray,Grey,Dark Brown,Moccasin,Light G...",MUK LUKS Women's Patti Boots,59.00,42.88
muk luks,White,MUK LUKS Chrystal Women's Sandals,36.00,25.49
Sloggers,"N/a,Kiwi,Blue,Black",Sloggers Women's Outfitters Premium Garden Clog,32.44,32.44
Dr. Scholl's,Black,Dr. Scholl's Women's Freestyle,32.98,32.98
Genuine Dickies,"Black,Tan",Genuine Dickies Womens' Real Suede Clog,19.97,13.88
Mo Mo,"Black,Fuchsia",Mo Mo Women's Cami Studded Thong Sandal,24.00,13.88
Mo Mo,"Black,Brown",MOMO Women's Low Heel Lace Up Bootie,24.00,24.00
Mo Mo,Buckskin,Mo Mo Women's Outlander Heeled Hiker Boot,36.00,28.40
SKECHERS,Black,Skechers Women's Skech-Air Lingle Black Memory...,85.00,85.00
SKECHERS,Black,Skechers Women's Skech-Air Lingle Black Memory...,85.00,85.00
SKECHERS,Black,76580 W Wide Width Black Skechers Shoe New Wom...,75.00,75.00
...,...,...,...,...
SeaVees,"Birch,Black,Marine",SeaVees Ocean Park Espadrille Shoe - Women's,87.95,87.95
UGG,"Slate,Black Heather",UGG Sammy Shoe - Women's,109.95,109.95
UGG,"Slate,Black Heather",UGG Sammy Shoe - Women's,109.95,109.95
New Balance,Fiji,New Balance Fresh Foam Gobi V2 Shoe - Women's,99.95,99.95
New Balance,Fiji,New Balance Fresh Foam Gobi V2 Shoe - Women's,99.95,99.95
New Balance,Fiji,New Balance Fresh Foam Gobi V2 Shoe - Women's,99.95,99.95
Toms,"Honey Leather/Blue Chambray,Black Leather/Cham...",Toms Jutti D'Orsay Shoe - Women's,84.95,84.95
Toms,"Honey Leather/Blue Chambray,Black Leather/Cham...",Toms Jutti D'Orsay Shoe - Women's,84.95,84.95
Olukai,"Dark Shadow/Dark Shadow,Mustang/Mustang",Olukai Waialua Mesh Shoe - Women's,80.00,80.00
Olukai,"Dark Shadow/Dark Shadow,Mustang/Mustang",Olukai Waialua Mesh Shoe - Women's,80.00,80.00
Vans,"Black,True White",Vans Ultrarange Gore Shoe - Women's,84.95,84.95
Bogs,"Black,Wine",Bogs Sweet Pea Slip On Shoe - Women's,64.99,64.99
Toms,"Black Cherry Heritage Canvas,Mojolica Blue Her...",Toms Venice Alpargata Shoe - Women's,47.95,47.95
Toms,"Black Cherry Heritage Canvas,Mojolica Blue Her...",Toms Venice Alpargata Shoe - Women's,47.95,47.95
Toms,"Black Cherry Heritage Canvas,Mojolica Blue Her...",Toms Venice Alpargata Shoe - Women's,47.95,47.95
Toms,"Black Cherry Heritage Canvas,Mojolica Blue Her...",Toms Venice Alpargata Shoe - Women's,47.95,47.95
Toms,"Black Cherry Heritage Canvas,Mojolica Blue Her...",Toms Venice Alpargata Shoe - Women's,47.95,47.95
Toms,"Black Cherry Heritage Canvas,Mojolica Blue Her...",Toms Venice Alpargata Shoe - Women's,47.95,47.95
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,109.97
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,89.98
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,89.98
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,89.98
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,89.98
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,89.98
Lowa,"Gray/Berry,Stone/Mint",Lowa San Luis Gtx Surround Lo Shoe - Women's,199.95,89.98
Asics,Silver/Pistachio/Pink,Asics Gel-Foundation 12 Running Shoe - Women's,119.95,89.96
Asics,Indigo Blue/Silver/Prune,Asics Gel-Fortitude 7 Running Shoe - Women's,119.95,77.97
Kaanas,Mauve,Kaanas Mesa Hardware Mule - Women's,128.95,64.47
Nike,Armory Blue/Armory Navy-Cirrus Blue,Nike Air Zoom Structure 21 Running Shoe - Narr...,119.95,89.96
OTZShoes,Black,OTZShoes Espadrille Shearling Shoe - Women's,99.95,49.97

In [8]:
shoes_one_transformed.groupby('brand').mean()

                                prices.amountMax  prices.amountMin
brand
2 lips too                             67.320526         53.400526
Adidas                                135.664286         97.057619
Adidas Outdoor                        107.950000        107.950000
Altra                                 129.950000        111.669048
Arc'teryx                             170.000000        130.333333
Asics                                 119.950000        116.162105
Astral                                 89.925000         89.925000
Birkenstock                           133.333333        133.333333
Bogs                                   64.990000         64.990000
Brinley Co.                            35.818108         31.317838
Brinley Co. Collection                 69.990000         56.579744
Brooks                                125.213158        119.951579
Carrini                                34.950000         20.450000
Chaco                                 119.950000        119.950000
Daniel Green                           35.000000         35.000000
Danskin Now                            19.740000         19.740000
Dansko                                130.000000        130.000000
Dr. Scholl's                           32.980000         32.980000
ELLIE SHOES                            37.410000         37.410000
Earth Spirit                           19.820000         16.380000
Easy Street                            54.990000         54.990000
FOREVER YOUNG                          45.990000         45.990000
Faded Glory                            14.587500         12.175000
Fergalicious                           54.950000         54.950000
Free People                           178.000000        178.000000
Frye                                  165.450000        133.195000
Genuine Dickies                        19.970000         13.880000
Hoka One One                          144.235714        144.235714
IB Non-Slip                            39.990000         39.990000
Inov 8                                126.450000         82.245000
...                                          ...               ...
kisses by 2 lips too                   76.946522         76.946522
koolaburra by ugg                      89.990000         82.490000
lc lauren conrad                       50.279855         27.344348
lifestride                             59.732622         44.696452
lugz                                   84.990000         84.990000
madden nyc                             50.466190         41.283452
muk luks                               36.000000         25.490000
naturalsoul by naturalizer             71.485327         51.368037
new balance                            69.159922         56.874980
nike                                   67.929825         58.756912
nyla                                   69.950000         69.950000
olivia miller                          84.990000         59.490000
puma                                   70.000000         56.000000
qupid                                  54.323333         44.906667
rampage                                69.990000         56.990000
reef                                   39.990000         32.132857
rocky 4eursole                        120.272727        120.272727
ryka                                   62.286124         62.286124
seven7                                 39.636429         39.636429
simply vera vera wang                  68.648537         41.836951
skechers                               64.611622         54.961622
so                                     56.265047         29.663981
soft style by hush puppies             51.640000         51.640000
sonoma goods for life                  69.815328         31.463799
spring step                            62.774810         62.774810
style charles by charles david         88.853556         60.382552
sugar                                  49.990000         34.458750
under armour                           79.990000         67.262727
unionbay                               47.990000         33.799091
vans                                   60.615000         55.729583

[129 rows x 2 columns]

### Transform 2nd Shoe DataFrame

In [9]:
# Create database connection
connection_string = "postgres:darsh123@localhost:5432/shoes_db"
engine = create_engine(f'postgresql://{connection_string}')
# Confirm tables
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/e3q8)